/* ==========================================================================
   1. GLOBAL RESET
   ========================================================================== */
*, *::before, *::after {
    box-sizing: border-box;
}